.tiptap {
  :first-child {
    margin-top: 0;
  }

  h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    line-height: 1.2;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-block: 0.5rem;
  }

  h3 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  p {
    margin-bottom: 0.25rem;
  }

  /* Code and preformatted text styles */
  code {
    background-color: var(--secondary);
    border-radius: 0.4rem;
    color: var(--secondary-foreground);
    font-size: 0.85rem;
    padding: 0.25em 0.3em;
  }

  /* highlight styles */
  mark {
    background-color: #faf594;
    border-radius: 0.2rem;
    box-decoration-break: clone;
    padding: 0.1rem 0.3rem;
  }

  /* Link styles */
  a {
    color: var(--primary);
    cursor: pointer;
    text-decoration: underline;
  }

  /* Blockquote styles */
  blockquote {
    border-left: 3px solid var(--color-secondary);
    margin: 1.5rem 0;
    padding-left: 1rem;
  }

  /* List styles */
  ul {
    padding: 0 1rem;
    margin: 1rem;
    list-style-type: disc;

    li p {
      margin-top: 0em;
      margin-bottom: 0em;
    }
  }

  ol {
    padding: 0 1rem;
    margin: 1rem;
    list-style-type: decimal;

    li p {
      margin-top: 0em;
      margin-bottom: 0em;
    }
  }

  /* Code block styles */
  pre {
    background: #1e1e1e;
    border-radius: 0.5rem;
    color: #eeeeee;
    font-family: 'JetBrainsMono', monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;

    code {
      background: none;
      color: inherit;
      font-size: 0.8rem;
      padding: 0;
    }

    /* Code styling */
    .hljs-comment,
    .hljs-quote {
      color: #616161;
    }

    .hljs-variable,
    .hljs-template-variable,
    .hljs-attribute,
    .hljs-tag,
    .hljs-name,
    .hljs-regexp,
    .hljs-link,
    .hljs-name,
    .hljs-selector-id,
    .hljs-selector-class {
      color: #f98181;
    }

    .hljs-number,
    .hljs-meta,
    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-literal,
    .hljs-type,
    .hljs-params {
      color: #fbbc88;
    }

    .hljs-string,
    .hljs-symbol,
    .hljs-bullet {
      color: #b9f18d;
    }

    .hljs-title,
    .hljs-section {
      color: #faf594;
    }

    .hljs-keyword,
    .hljs-selector-tag {
      color: #70cff8;
    }

    .hljs-emphasis {
      font-style: italic;
    }

    .hljs-strong {
      font-weight: 700;
    }
  }

  /* Details styles */
  .details {
    display: flex;
    gap: 0.25rem;
    margin: 1rem 0;
    border: 1px solid var(--secondary);
    border-radius: 0.5rem;
    padding: 0.5rem;

    summary {
      font-weight: 700;
      list-style: none;
      list-style-type: none;
      cursor: text;
      user-select: text;
      pointer-events: auto;

      &::marker {
        display: none;
      }
    }

    &[open],
    &.is-open {
      & > button::before {
        transform: rotate(90deg);
      }
    }

    > button {
      display: flex;
      align-items: center;
      justify-content: center;
      background: transparent;
      border-radius: 4px;
      font-size: 1rem;
      height: 1.35rem;
      width: 1.35rem;
      line-height: 1;
      margin-top: 0.1rem;
      padding: 0;
      cursor: pointer;
      flex-shrink: 0;

      &:hover {
        background-color: var(--secondary);
      }

      &::before {
        content: '\25B6';
        margin-bottom: -1px;
      }
    }

    &.is-open > button::before {
      transform: rotate(90deg);
    }

    > div {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;

      > [data-type='detailsContent'] > :last-child {
        margin-bottom: 0.5rem;
      }
    }

    .details {
      margin: 0.5rem 0;
    }
  }

  /* Image styles */
  img {
    display: block;
  }

  [data-resize-handle] {
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    z-index: 10;

    &:hover {
      background: rgba(0, 0, 0, 0.4);
    }

    /* Corner handles */
    &[data-resize-handle='top-left'],
    &[data-resize-handle='top-right'],
    &[data-resize-handle='bottom-left'],
    &[data-resize-handle='bottom-right'] {
      width: 4px;
      height: 4px;
    }

    &[data-resize-handle='top-left'] {
      top: -2px;
      left: -2px;
      cursor: nwse-resize;
    }

    &[data-resize-handle='top-right'] {
      top: -2px;
      right: -2px;
      cursor: nesw-resize;
    }

    &[data-resize-handle='bottom-left'] {
      bottom: -2px;
      left: -2px;
      cursor: nesw-resize;
    }

    &[data-resize-handle='bottom-right'] {
      bottom: -2px;
      right: -2px;
      cursor: nwse-resize;
    }

    /* Edge handles */
    &[data-resize-handle='top'],
    &[data-resize-handle='bottom'] {
      height: 4px;
      left: 4px;
      right: 4px;
    }

    &[data-resize-handle='top'] {
      top: -2px;
      cursor: ns-resize;
    }

    &[data-resize-handle='bottom'] {
      bottom: -2px;
      cursor: ns-resize;
    }

    &[data-resize-handle='left'],
    &[data-resize-handle='right'] {
      width: 4px;
      top: 4px;
      bottom: 4px;
    }

    &[data-resize-handle='left'] {
      left: -2px;
      cursor: ew-resize;
    }

    &[data-resize-handle='right'] {
      right: -2px;
      cursor: ew-resize;
    }
  }

  [data-resize-state='true'] [data-resize-wrapper] {
    border-radius: 0.125rem;
  }

  hr {
    border: none;
    border-top: 1px solid var(--secondary);
    cursor: pointer;
    margin: 1rem 0;

    &.ProseMirror-selectednode {
      border-top: 1px solid var(--primary);
    }
  }

  /* Emoji extension styles */
  [data-type='emoji'] {
    img {
      height: 1em;
      width: 1em;
    }
  }

  /* Math extension styles */
  .tiptap-mathematics-render {
    border-radius: 0.25rem;
    padding: 0 0.5rem;
    background: var(--secondary);

    &[data-type='inline-math'] {
      display: inline-block;
    }

    &[data-type='block-math'] {
      display: block;
      margin: 1rem 0;
      padding: 1rem;
      text-align: center;
    }

    &.inline-math-error,
    &.block-math-error {
      background: var(--destructive);
      color: var(--destructive-foreground);
      border: 1px solid var(--destructive);
      padding: 0.5rem;
      border-radius: 0.25rem;
    }
  }

  /* Mention extension styles */
  .mention {
    background-color: var(--accent);
    border-radius: 0.4rem;
    box-decoration-break: clone;
    color: var(--accent-foreground);
    padding: 0.1rem 0.3rem;
  }

  /* List styles */
  ul,
  ol {
    padding: 0 1rem;

    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }
  ul:first-child,
  ol:first-child {
    margin: 1rem 1rem 1rem 0.4rem;
  }
  ul:not(:first-child),
  ol:not(:first-child) {
    margin: 0.75rem 0 1rem 0;
  }

  /* Task list specific styles */
  /* Task list specific styles */
  ul[data-type='taskList'] {
    list-style: none;
    margin-left: 0;
    padding: 0;

    li {
      align-items: flex-start;
      display: flex;

      > label {
        flex: 0 0 auto;
        margin-right: 0.5rem;
        user-select: none;

        input[type='checkbox'] {
          width: 1rem;
          height: 1rem;
          min-width: 1rem;
          min-height: 1rem;
          margin-top: 0.3rem;
        }

        button[role='checkbox'] {
          margin-top: 0.3rem;
        }
      }

      > div {
        flex: 1 1 auto;
      }
    }

    input[type='checkbox'],
    button[role='checkbox'] {
      cursor: pointer;
    }

    ul[data-type='taskList'] {
      margin: 0.5rem 0 0.5rem 1.5rem;
      padding-left: 0;
    }

    label:has(button[aria-checked='true']) + div > p {
      opacity: 0.5;
      text-decoration: line-through;
    }
  }

  /* Youtube embed */
  div[data-youtube-video] {
    cursor: move;
    padding-right: 1.5rem;

    iframe {
      border: 1px solid var(--secondary);
      display: block;
      min-height: 200px;
      min-width: 200px;
      outline: 0px solid transparent;
      border-radius: 0.5rem;
    }

    &.ProseMirror-selectednode iframe {
      outline: 3px solid var(--purple);
      transition: outline 0.15s;
    }
  }

  /* Placeholder styles */
  p.is-editor-empty:first-child::before {
    color: #808080;
    content: attr(data-placeholder);
    font-weight: 300;
    float: left;
    height: 0;
    pointer-events: none;
  }
}

div[contenteditable='true'] {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

::selection {
  background-color: #70cff850;
}

/* .ProseMirror {
  > * {
    margin-left: 1rem;
  }

  .ProseMirror-widget * {
    margin-top: auto;
  }
} */

.ProseMirror-noderangeselection {
  *::selection {
    background: transparent;
  }

  * {
    caret-color: transparent;
  }
}

.ProseMirror-selectednode,
.ProseMirror-selectednoderange {
  position: relative;

  &::before {
    position: absolute;
    pointer-events: none;
    z-index: -1;
    content: '';
    top: -0.15rem;
    left: -0.25rem;
    right: -0.25rem;
    bottom: -0.15rem;
    background-color: #70cff850;
    border-radius: 0.2rem;
  }
}

/* Drag Handle styles */
.drag-handle-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1.25rem;
  margin-top: 0.2rem;
  margin-right: 0.1rem;
  font-weight: 700;
  font-size: 0.875rem;
  cursor: grab;
  background: var(--muted);
  color: var(--secondary-foreground);
  border-radius: 0.25rem;
  transition: background-color 0.2s, color 0.2s;

  &:hover {
    background: var(--accent);
    color: var(--accent-foreground);
  }

  &:active {
    cursor: grabbing;
  }
}
